.git
.gitignore
Dockerfile
docker-compose.yml
docker-compose.hardened.yml
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
venv
.venv
*.log
trivy-report.json
sbom.json
.dockerignore
.gitlab-ci.yml
*.md
Jenkinsfile
.pre-commit-config.yaml
deploy-job
ansible
.pytest_cache
k8s
